html {
  background-color: #d3d3d3;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 0;
}

@page {
  size: auto;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 10px;
  background-color: antiquewhite;
  z-index: 1000;
}

.page {
  position: relative;
  page-break-after: always;
  page-break-before: always;
  width: 210mm;
  height: 297mm;
  height: calc(297mm - 1px);
  padding: 20mm;
  margin: 10mm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page * {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.page-number {
  position: absolute;
  bottom: 10mm;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: #888;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
    visibility: hidden;
    page-break-after: always;
    page-break-before: always;
  }

  body,
  page {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none;
  }

  body * {
    visibility: hidden;
  }

  header {
    display: none;
  }

  br {
    height: 0;
    line-height: 0;
  }

  @page {
    size: auto;
    margin: 0;
  }

  .page {
    position: relative;
    visibility: visible;
    page-break-after: always;
    page-break-before: always;
    width: 210mm;
    height: auto !important;
    padding: 20mm;
    margin: 0 0 20px;
    border: 0;
    border-radius: 0;
    background: white;
    box-sizing: border-box;
    box-shadow: 0;
    overflow: visible !important;
    display: flex;
    flex-direction: column;
  }
  .last-page {
    page-break-after: avoid !important;
  }

  .page:last-child {
    page-break-after: avoid !important;
  }

  .page * {
    visibility: visible;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .page > imgContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .page > .watermark {
    position: absolute;
    top: 45%;
    left: 25%;
    width: 50%;
    height: 10%;
    z-index: 50;
  }

  .page-number {
    position: absolute;
    bottom: 10mm;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    color: #888;
  }
}
